<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RaidCatalog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RaidCatalog.Properties.Settings>
            <setting name="WeaponFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HelmetFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShieldFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlovesFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChestFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BootsFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RingFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloakFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BannerFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level9Filter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level10Filter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level11Filter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level12Filter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level13Filter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level14Filter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level15Filter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level16Filter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VisibleHeroes" serializeAs="String">
                <value />
            </setting>
            <setting name="EquippedFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoEquippedFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeroFavoriteFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RoleFavoriteFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AscendFavoriteFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LowFavoriteFilter" serializeAs="String">
                <value>True</value>
            </setting>
        </RaidCatalog.Properties.Settings>
    </userSettings>
</configuration>